  {% extends "base.html" %}
{% block title %}ManzanaresZon{% endblock %}
{% block content %}
<div class="container">

  <div class="col-md-3 mx-auto">
    <br>
    <br>
    <br>
      <h4>Cambio de Contraseña {{current_user.username}}</h4>
    {% for field, errors in form.errors.items() %}
      <div class="alert alert-danger">
        {{ form[field].label }}: {{ ', '.join(errors) }}
      </div>
    {% endfor %}
      <form class="form-horizontal"  method="post">
        <div class="form-group">
          {{ form.csrf_token }}
          {{form.password.label() }}{{form.password(size="100",class="form-control")}}<br/>
          {{form.submit(class="btn btn-sm btn-primary btn-block")}}
        </div>
    </form>
    <br/>
  </div>
</div>
 	
  
{% endblock %}