{% extends "base.html" %}
{% block title %}ManzanaresZon{% endblock %}
{% block content %}
<div>
<br>
    <h3>GRÁFICOS</h3>
    <br>
    <br>
    <br>
    <div>
    <a href="grafica_ventas_totales" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">
            Ventas totales</a>
    <a href="grafica_por_proveedor" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">
        Ventas proveedores</a>
    <a href="grafica_cliente" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">
        Ventas clientes</a>
    </div>
</div>

{% endblock %}