{% extends "base.html" %}
{% block title %}ManzanaresZon{% endblock %}
{% block content %}
{% if current_user.is_admin() or current_user.is_proveedor()%}
    <div class="col-md-11 mx-auto">
        <br>
        <h4 class="display-8 text-center">Productos Proveedor</h4>
        <br>
        <div class="panel panel-default">
            <table class="table table-bordered tablas" bgcolor="#D5E1E3 ">
                <tr>
                    <td>Imagen</td>
                    <td>Nombre</td>
                    <td>Descripción</td>
                    <td>Categoría</td>
                    <td>Stock</td>
                    <td>PVP</td>
                    <td>Proveedor</td>
                    <td>Capacidad Stock</td>
                    <td>Ubicación</td>
                    <td>Porcentaje Stock</td>
                    <td>Modificar</td>
                    <td>Estado</td>
                </tr>
                <tr>
                    {% for art in articulos %}
                    {% if art.image %}
                    <td><img src="{{url_for('static',filename='upload/')}}{{art.image}}" width="100" height="100"/>
                        {% else %}
                    <td><img src="{{url_for('static',filename='upload/not-found.png')}}" width="100" height="100"/>
                        {% endif %}
                    <td>{{art.nombre}}</td>
                    <td>{{art.descripcion}}</td>
                    <td>{{art.categoria.nombre}}</td>
                    <td>{{art.stock}}</td>
                    <td>{{art.precio_final()}}</td>
                    <td>{{art.proveedor.nombre}}</td>
                    <td>{{art.capacidad_stock}}</td>
                    <td>{{art.ubicacion}}</td>
                    {% if art.porcentaje_stock()<20 %}
                    <td style="color:red">{{art.porcentaje_stock()}}%</td>
                    {% else%}
                    <td>{{art.porcentaje_stock()}}%</td>
                    {% endif%}
                    <td><a href="{{url_for('article.articulos_edit',id=art.id)}}"><span
                            class="glyphicon glyphicon-shopping-cart"></span>
                        Producto</a></td>
                    {% if art.activo==True%}
                    <td>Activo</td>
                    <td><a href="{{url_for('article.articulos_delete',id=art.id)}}"><span
                            class="glyphicon glyphicon-shopping-cart"></span>
                        Desactivar</a></td>
                    {% else%}
                    <td>Inactivo</td>
                    <td>
                        <a href="{{url_for('article.articulos_activar',id=art.id)}}"><span
                                class="glyphicon glyphicon-shopping-cart"></span>
                            Activar</a></td>
                    {% endif%}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{%endif%}
{% endblock %}