{% extends "base.html" %}
{% block title %}ManzanaresZon{% endblock %}
{% block content %}
{% if current_user.is_admin()%}
<div class="container">
    <br>
    {% if usu.activo==True%}
    <div>
        <h3>Desactivar Usuario</h3>
    </div>
    <br>
    <div>
        <h3>¿Estás seguro de Desactivar: {{usu.username}}?</h3>
    </div>
    {%else%}
    <div>
        <h3>Activar Usuario</h3>
    </div>
    <br>
    <div>
        <h3>¿Estás seguro de Activar: {{usu.username}}?</h3>
    </div>
    {%endif%}
    <br>
    <div class="form-group">
        <form class="form-horizontal" method="post">
            {{ form.csrf_token }}
            {{form.si(class="btn btn-primary") }} {{form.no(class="btn btn-primary")}}<br/><br/>
        </form>
    </div>
</div>
{%endif%}
{% endblock %}